# .gitignore

# Python / Cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/
venv/
.venv/

# Environment / Secrets
.env

# Data / OS / IDE
*.parquet
.DS_Store
.vscode/
.idea/

# Jupyter / Analysis
.ipynb_checkpoints/

# Build & Package artifacts
build/
dist/
*.egg-info/